@using B2B.Web.Models
<div data-site-config hidden>
    <site-config key="grid-model-search" value="@nameof(GridModel.Search)" />
    <site-config key="grid-model-page-index" value="@nameof(GridModel.PageIndex)" />
    <site-config key="grid-model-pagination-limit" value="@nameof(GridModel.PaginationLimit)" />
</div>
