<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Back2Basics Guild Manager</title>
    <webpack-scripts entry="layout"></webpack-scripts>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
</head>
<body>
<div class="main">
    <partial name="_Navbar"/>

    <div class="content main-content">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            Back2Basics 2021
        </div>
    </footer>
</div>

@await RenderSectionAsync("Scripts", false)
</body>
</html>
