<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Back2Basics Guild Manager</title>
    <webpack-scripts entry="layout"></webpack-scripts>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
</head>
<body>
<section class="hero is-fullheight main-hero">
    <div class="hero-head">
        <partial name="_Navbar"/>
    </div>

    <div class="hero-body is-flex-direction-column">
        @RenderBody()
    </div>

</section>

@await RenderSectionAsync("Scripts", false)
</body>
</html>
