@using B2B.Logic.Identity
@inject SignInManager SignInManager


<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a asp-action="Index" asp-controller="Home" class="navbar-item">
            <img src="~/src/assets/b2b-logo.png" alt="Logo"/>
        </a>

        <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="main-side-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="main-side-menu" class="navbar-menu">
        <div class="navbar-start">
            <a href="#" class="navbar-item">
                Menu 1
            </a>
            <a href="#" class="navbar-item">
                Menu 2
            </a>
            <a href="#" class="navbar-item">
                Menu 3
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Logout" asp-controller="Account" class="button is-light">
                            Log out
                        </a>
                    }
                    else
                    {
                        <a asp-action="Register" asp-controller="Account" class="button is-primary">
                            Sign Up
                        </a>
                        <a asp-action="Login" asp-controller="Account" class="button is-light">
                            Log in
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</nav>
