@import colors
@import bulma-overrides
@import ~bulma

html
  overflow-y: hidden

.main-hero
  .navbar
    background-color: $theme-black
  .hero-body
    max-height: calc(100vh - 56px)
    overflow-x: hidden



.is-login-container
  margin-top: -1rem
