@import colors
@import bulma-overrides
@import ~bulma-checkradio
@import ~bulma

html
  overflow-y: hidden

.main-hero
  .navbar
    background-color: $theme-black
  .hero-body
    max-height: calc(100vh - 56px)
    overflow-x: hidden

.container
  width: 100%

.is-darker
  background-color: darken($theme-dark, 7%)

.hero.is-bordered
  border-radius: .25rem

// variable overriding doesn't work with the bulma-checkradio extension
.is-checkradio[type=checkbox]:focus + label::before, .is-checkradio[type=checkbox]:focus + label:before, .is-checkradio[type=radio]:focus + label::before, .is-checkradio[type=radio]:focus + label:before
  outline: none

.is-checkradio[type=checkbox] + label::after, .is-checkradio[type=checkbox] + label:after
  border-width: .1rem !important
  top: 5px

label
  &.is-required::after
    content: '*'
    color: $theme-danger
  &.is-optional::after
    content: ' (optional)'
    font-size: smaller
    color: $theme-lighter

.is-text-nowrap
  white-space: nowrap
