@import colors
@import bulma-overrides
@import ~bulma

body
  overflow-y: scroll
  -ms-overflow-style: none
  scrollbar-width: none
  &::-webkit-scrollbar
    display: none

.main-hero .navbar
  background-color: $theme-black

.main-hero footer
  max-height: 5vh


.is-login-container
  margin-top: -1rem
